<h4>ตระกร้าสินค้า</h4>
<table class="table">
    <thead>
        <tr>
          <th>รหัสสินค้า</th>
          <th>ชื่อสินค้า</th>
          <th>ราคา</th>
          <th>จำนสนที่เลือก</th>
          <th>รวม</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cartlist">
          <td>{{c.pId}}</td>
          <td>{{c.pName}}</td>
          <td>{{c.pCost}}</td>
          <td>{{c.qty}}</td>
          <td>{{c.qty*c.pCost}}</td>
          <td></td>
        </tr>
      </tbody>
  </table>